{% extends 'music/base.html' %}

{%block title%}
{%endblock%}
{%block content%}
 <div class="card">
  <br>
  <ul class="album-list">
    <h2>{{ album.album_name }}</h2>
    {% if album.album_artist == user %}
    <a href="{% url 'delete_album' username album %}">Delete</a>/
    <a href="{% url 'add_song' username album %}">Add new song</a>
    {% endif %}


    {% for song in songs %}
      <li >
        {{song.song_name}}<br/>
        <audio controls>
          <source src="{{ song.song_file.url }}" type="audio/mp3">
        </audio>
      </li><hr/>
    {% endfor %}
  </ul>
 </div>
{%endblock%}
